<header class="menu">
    <a href="" class="menu-item" >
        <div class="line"></div>
        <div class="icon">
            <img src="/clipboard.svg" alt="Записи">
        </div>
        <div class="text">Записи</div>
    </a>

    <a href="search" class="menu-item" >
        <div class="line"></div>
        <div class="icon">
            <img src="/search.svg" alt="Поиск">
        </div>
        <div class="text">Поиск</div>
    </a>

    <a href="history" class="menu-item" >
        <div class="line"></div>
        <div class="icon">
            <img src="/clock.svg" alt="История">
        </div>
        <div class="text">История</div>
    </a>
</header>